@font-face {
  font-family: 'OPTIDiamond';
  src: local('OPTIDiamond'), url(../fonts/OPTIDiamond-DemiBold.otf) format('opentype');
}

body{ 
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    background-image: url('https://i.pinimg.com/originals/e1/2b/37/e12b375b9146370f206196670b260f97.jpg');
    backdrop-filter: blur(6px);
    background-size: cover;
    background-repeat: no-repeat;
}

body:before{
  filter: blur(10px);
}

.feedback-text.correct{
  font-family: 'OPTIDiamond';
  margin: 20px 0px 0px 0px;
}

.feedback-text.incorrect{
  font-family: 'OPTIDiamond';
    margin: 20px 0px 0px 0px;
}

.app-container{
    align-items: center;
    border-radius: 30px;
    border-style: solid;
    border-color: #B9A980;
    width: 90vw;
    background: rgb(34,34,34);
    background: linear-gradient(180deg, #1F1F1F 45%, #0A0A0A 100%);
    height: fit-content;
    min-height: 70vh;
    max-width: 70vw;
    margin: auto;
}

.ability-image{
    width: 300px;
    height: 300px;
    margin: 20px;
    border-radius: 50%;
    background-color:#B9A980;
    border: 5px solid #B9A980;
    box-shadow: 0 0 0 8px #1F1F1F, 0 0 0 10px #B9A980, 0 0 0 15px #1F1F1F;
}

.ability-image.small{
    width: 150px;
    height: 150px;
    margin: 20px;
    border-radius: 50%;
    background-color:#B9A980;
    border: 5px solid #B9A980;
    box-shadow: 0 0 0 8px #1F1F1F, 0 0 0 10px #B9A980, 0 0 0 15px #1F1F1F;
}

p.ability-description{
  font-size: 16px;
  width: 70%;
  margin: 20px auto
}

.ability-champion{
  font-family: 'OPTIDiamond';
  margin: 5px;
  font-size: 25px;
}

hr.gradient-decor{
    width: 40%;
    height: 1px;
    border-color: #0000;
    background: linear-gradient(90deg, rgba(61,61,61,0) 0%, rgba(185,169,128,1) 50%, rgba(61,61,61,0) 100%);
}


hr.gradient-decor.wider{
  width: 60%;
  height: 1px;
  border-color: #0000;
  background: linear-gradient(90deg, rgba(61,61,61,0) 0%, rgba(185,169,128,1) 50%, rgba(61,61,61,0) 100%);
}

.gradient-decor.red{
  background: linear-gradient(90deg, rgba(61,61,61,0) 0%, rgb(245, 83, 83) 50%, rgba(61,61,61,0) 100%);
}

.gradient-decor.blue{
  background: linear-gradient(90deg, rgba(61,61,61,0) 0%, #4FDDE2 50%, rgba(61,61,61,0) 100%);
}


p.ability-title{ 
  font-family: 'OPTIDiamond';
  margin: 20px;
}

div.champion-img {
    width: 129px;
    height: 129px;
    overflow: hidden;
    z-index: 1;
  }
  
  .image-border {
    width: 130px;
    height: 130px;
    position: absolute;
    z-index: 2;
    background-image: url("../border.png");
    background-size: cover;
  }


  .image-container{
    width: 120px;
    height: 120px;
    align-items: center;
    margin: 20px;
    display: inline-block;
  }


  .quiz-logo{
    width: 40%;
    margin: 50px 50px 20px 150px;
  }
  
  button.primary-button:hover{
    animation: glow 1s infinite alternate;
  }
  
  @keyframes glow {
    from {
      box-shadow: 0 0 20px -3px #ffffff;
    }
    to {
      box-shadow: 0 0 20px 3px #b9a9807c;
    }
  }

  button.primary-button {
    display: block;
    color: #B9A980;
    background: #1F1F1F;
    padding: 5px 30px 5px 30px;
    font-size: 20px;
    cursor: pointer;
  }

  button.primary-button.large{
    display: block;
    color: #B9A980;
    background: #1F1F1F;
    padding: 10px 60px 10px 60px;
    font-size: 19px;
    cursor: pointer;
  }

  button.secondary-button{
    display: block;
    margin: 20px auto 20px auto;
    color: #B9A980;
    background: #1f1f1f00;
    padding: 5px 30px 5px 30px;
    font-size: 15px;
    text-decoration: underline;
    border-style: none;
    cursor: pointer;
  }

  input[type="text"]{
    display: block;
    margin: 20px auto 20px auto;
    font-size: 25px;
    text-align: center;
    color: white;
    background: linear-gradient(180deg, #1717177a 50%, #000000 100%);
    border-width: 2px;
    border-color: #CBB377;
    padding: 8px;
    box-shadow: 1px 1px 3px #cbb3776e;
  }

  h1 {
    display: flex;
    flex-direction: row;
    width: 60%; 
    text-align: center; 
    margin: 20px auto 0px auto;
    color: #B9A980;
    font-size: 40px;
    font-family: 'OPTIDiamond';
  }

  h1:before, h1:after{
    content: "";
    flex: 1 1;
    height: 2px;
 margin: auto;
  }
  h1:before {
    margin-right: 10px;
    background: linear-gradient(90deg, rgba(61,61,61,0) 0%, rgba(185,169,128,1) 100%);
  }
  h1:after {
    margin-left: 10px;
    background: linear-gradient(90deg, rgba(185,169,128,1) 0%, rgba(61,61,61,0) 100%);
  }

  .difficulty-button-wrapper{
    width: 25%;
    display: inline-block;
    max-width: 230px;
    padding-top: 10px;
  }

  .difficulty-button-wrapper.selected{
    box-shadow: 14px 14px 42px -18px rgb(0 0 0 / 75%);
    -webkit-box-shadow: 14px 14px 42px -18px rgb(0 0 0 / 75%);
    -moz-box-shadow: 14px 14px 42px -18px rgba(0,0,0,0.75);
    outline-offset: -6px;
    outline: 3px solid #B9A980;
    padding-top: 10px;
  }


  .difficulty-button-wrapper img{
    width: 70%;
    cursor: pointer;
  }

  .difficulty-button-wrapper p{
    margin: 0px 0px 20px 0px;
    font-size: 20px;
  }

  p.feedback {
    margin: 0px 10px 30px 0px;
    font-size: 25px;
  }

.button-wrapper{
  width: fit-content;
  background: linear-gradient(to bottom, #b9a980, #ffffff, #ffd56b);
  padding: 2px;
  margin: 20px auto 20px auto;
}

.score-circle {
  /* width: 250px;
  height: 250px;
  border-radius: 50%;
  padding: 70px;
  background-color: #030406;
  margin: auto; */
}

.rotating-border {
  width: 350px;
  height: 350px;
  margin: auto auto 80px auto;
  background: transparent;
  border-radius: 50%;
  border: 2px dashed #C5A661;
  animation-name: Rotate;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
  -webkit-animation-name: Rotate;
  -webkit-animation-duration: 30s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: Rotate;
  -moz-animation-duration: 30s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: Rotate;
  -ms-animation-duration: 30s;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
}

@keyframes Rotate{
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}

}
@-webkit-keyframes Rotate
{
from{-webkit-transform:rotate(0deg);}
to{-webkit-transform:rotate(360deg);}
}
@-moz-keyframes Rotate
{
from{-moz-transform:rotate(0deg);}
to{-moz-transform:rotate(360deg);}
}
@-ms-keyframes Rotate
{
from{-ms-transform:rotate(0deg);}
to{-ms-transform:rotate(360deg);}
}

.score-container{
  position: relative;
  width: 350px;
  height: 350px;
  margin: 10% auto 20% auto;
}

.score-text{
  position: absolute;
  left: 7%;
  top: 7%;
  height: 300px;
  width: 300px;
  background-color: #1f1f1f;
  border-radius: 50%;
  border-style: solid;
  border-color: #C5A661;
}

.score-text .larger{
  margin-top: 30%;
  font-size: 50px;
  color: #C5A661;
  font-family: 'OPTIDiamond';
  margin-bottom: 10px;
}

.score-text .smaller {
  margin: 0px;
  font-family: 'OPTIDiamond';
  color: #ffffffc2;
}